<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestSuite">
    <test name="Ecommerce Tests">
        <classes>
            <class name="com.selenium.tests.EcommerceDemoTest">
                <methods>
                    <include name="goToTheEcommerceApp"/>
                </methods>

                <methods>
                    <include name="login"/>
                </methods>

                <methods>
                    <include name="AddToCart"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Form fills">
        <classes>
            <class name="com.selenium.tests.FormyFillsFormsTest">
                <methods>
                    <include name="fillFirstForm"/>
                </methods>
            </class>

            <class name="com.selenium.tests.FormyFillsFormsTest">
                <methods>
                    <include name="openCloseModal"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Google Tests">
        <classes>
            <class name="com.selenium.tests.GoogleSampleTest">
            </class>
        </classes>
    </test>

    <test name="Google Search Test">
        <classes>
            <class name="com.selenium.tests.GoogleSearchTest">
                <methods>
                    <include name="SearchAndGoToPageNotTheBestWay"/>
                </methods>

                <methods>
                    <include name="searchAndGoToPageGoodWay" />
                </methods>
            </class>
        </classes>
    </test>

    <test name="Facebook Tests">
        <classes>
            <class name="com.selenium.tests.FacebookTest">
                <methods>
                    <include name="teststeps"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
